# 2a

In [18]:
import pandas as pd
import numpy as np
import datetime as dt

   
df = pd.read_csv ("IMDb_movies.csv",low_memory=False,sep=",")
df['imdb_title_id'] = df['imdb_title_id'].str.strip('tt')
df['budget'] = df['budget'].str.strip('$,MYR')
df['usa_gross_income'] =pd.to_numeric(df['usa_gross_income'].str.strip('EUR GBP HKD $,'))
df['worlwide_gross_income'] = df['worlwide_gross_income'].str.strip('$,')
df['avg_vote'] =pd.to_numeric(df['avg_vote'])
df.rename(columns={'worlwide_gross_income':'worldwide_gross_income'})
#Converted the column data type but the data in csv file does not support the data format

#df.astype({'date_published': 'datetime64'})
#df['date_published'] = df['date_published'].str.strip('TV Movie 2019')
#df['date_published']= pd.to_datetime(df['date_published'])

#df[(df.year == 2018) & (df.usa_gross_income >="700000000")]

df_filter=df.sort_values("usa_gross_income", ascending = False)
df_filter=df_filter[df_filter["year"]=="2018"]
top_10=df_filter.head(10)
temp =top_10[["title", "usa_gross_income", "date_published"]]


print(temp)

                                     title  usa_gross_income date_published
62334                        Black Panther       700426566.0     2018-02-14
73864               Avengers: Infinity War       678815482.0     2018-04-25
71919                    Gli Incredibili 2       608581744.0     2018-09-19
76035  Jurassic World - Il regno distrutto       417719760.0     2018-06-07
58512                              Aquaman       335061807.0     2019-01-01
77748                           Deadpool 2       324591735.0     2018-05-15
68400                            Il Grinch       270620950.0     2018-11-29
76126        Mission: Impossible - Fallout       220159104.0     2018-08-29
61357                    Bohemian Rhapsody       216668042.0     2018-11-29
76734                 Ant-Man and the Wasp       216648740.0     2018-08-14

# b)

In [19]:
average=df.sort_values("avg_vote", ascending = False)

print(average[["original_title","genre", "avg_vote"]])

                                original_title             genre  avg_vote
83275                          Suvarna Sundari  Action, Thriller       9.9
84995                              Notuku Potu   Horror, Mystery       9.8
55310                                   Jeeudo    Drama, Romance       9.8
56032                                       Ek     Action, Drama       9.8
54217        Lejos de Casa pelicula Venezolana    Drama, History       9.8
...                                        ...               ...       ...
78944                    Utsuroi no hyôhonbako            Comedy       1.0
55972                           Prema Panjaram     Drama, Family       1.0
75895                  Ritoru Kyouta no bouken         Adventure       1.0
76389  Chun jie xin ling: Zhu meng yan yi quan     Comedy, Drama       1.0
76216                              A no dentou             Drama       1.0

[85855 rows x 3 columns]

# c)

In [22]:
value=input("Enter the name of the actor:")

random_var=df.fillna("")
actors_=random_var[random_var["actors"].str.contains(value)]
print(actors_[["actors","original_title","year"]])

Enter the name of the actor:Frederick Warde
                                                  actors original_title  year
9      Robert Gemp, Frederick Warde, Albert Gardner, ...    Richard III  1912
20958  Scott Glenn, Alberta Watson, Jürgen Prochnow, ...       The Keep  1983

# d)

In [24]:
short_time=df.sort_values("duration", ascending = True)
final=short_time.head(1)
print(final[["original_title","duration"]])

       original_title  duration
32798  Doragon bôru Z        41