# 1)

In [21]:
import mysql.connector

def main():
    host = "bank.cw2w4gcvc1md.us-east-1.rds.amazonaws.com"
    user = "Ankur"
    password = open("credentials.txt").read()
    
    conn = mysql.connector.connect(host=host, 
                                    user=user, 
                                    password = password,
                                    database='cse4020_db')
    cursor=conn.cursor()

    sql_query="""
       
        CREATE TRIGGER try_to_keep_em AFTER UPDATE on account  
        for each row 
        BEGIN
        if new.balance = 0 then
        update loan set amount=loan.amount- (loan.amount *0.15)
        where new.account_number in (select account.account_number 
        from account 
        join depositor 
        on depositor.account_number= account.account_number 
        join borrower 
        on borrower.customer_name = depositor.customer_name
        where loan.loan_number= borrower.loan_number);
        end if;
        END """
    cursor.execute(sql_query)
    conn.commit()
    conn.close()    
main()

#  2)

In [23]:
def main():
    host = "bank.cw2w4gcvc1md.us-east-1.rds.amazonaws.com"
    user = "Ankur"
    password = open("credentials.txt").read()
    
    conn = mysql.connector.connect(host=host, 
                                    user=user, 
                                    password = password,
                                    database='cse4020_db')
    cursor=conn.cursor()
    
    sql_query1="""insert into customer values ('Patricia Richmond', 'NW 40th St.', 'Brooklyn');"""
    sql_query2="""insert into account values ('A-402', 'Brighton', '1200');"""
    sql_query3="""insert into loan values ('L-42', 'Brighton', '5000');"""
    sql_query4="""insert into depositor values ('Patricia Richmond', 'A-402');"""
    sql_query5="""insert into borrower values ('Patricia Richmond','L-42');"""
    
    cursor.execute(sql_query1)
    cursor.execute(sql_query2)
    cursor.execute(sql_query3)
    cursor.execute(sql_query4)
    cursor.execute(sql_query5)
    conn.commit()
    conn.close()    
main()

# 3)

In [34]:
def main():
    host = "bank.cw2w4gcvc1md.us-east-1.rds.amazonaws.com"
    user = "Ankur"
    password = open("credentials.txt").read()
    
    conn = mysql.connector.connect(host=host, 
                                    user=user, 
                                    password = password,
                                    database='cse4020_db')
    cursor=conn.cursor()
    
    
    sql_query="""
    Select * FROM loan
    """
    
    cursor.execute(sql_query)
    store=cursor.fetchall()
    
    for rows in store:
        print(rows)
    sql_query2="""update account set account.balance=0
        where account.account_number='A-402'"""
    cursor.execute(sql_query2)
    
    print("\n\nChanged loan table \n\n")
    sql_query3="""
    Select * FROM loan
    """
    cursor.execute(sql_query3)
    store2=cursor.fetchall()
    
    for rows in store2:
        print(rows)
    conn.commit()
    conn.close()    
    
main()

('L-11', 'Round Hill', 900.0)
('L-14', 'Downtown', 1500.0)
('L-15', 'Perryridge', 1500.0)
('L-16', 'Perryridge', 1300.0)
('L-17', 'Downtown', 1000.0)
('L-20', 'North Town', 7500.0)
('L-21', 'Central', 570.0)
('L-23', 'Redwood', 2000.0)
('L-42', 'Brighton', 5000.0)
('L-93', 'Mianus', 500.0)


Changed loan table


('L-11', 'Round Hill', 900.0)
('L-14', 'Downtown', 1500.0)
('L-15', 'Perryridge', 1500.0)
('L-16', 'Perryridge', 1300.0)
('L-17', 'Downtown', 1000.0)
('L-20', 'North Town', 7500.0)
('L-21', 'Central', 570.0)
('L-23', 'Redwood', 2000.0)
('L-42', 'Brighton', 4250.0)
('L-93', 'Mianus', 500.0)

# Bonus

In [40]:
def main():
    host = "bank.cw2w4gcvc1md.us-east-1.rds.amazonaws.com"
    user = "Ankur"
    password = open("credentials.txt").read()
    
    conn = mysql.connector.connect(host=host, 
                                    user=user, 
                                    password = password,
                                    database='cse4020_db')
    cursor=conn.cursor()
    
    
    sql_query="""
    USE `cse4020_db`;
    DROP procedure IF EXISTS `cse4020_db`.`currency_style`;
    CREATE PROCEDURE `currency_style`(IN value int(10),IN points int(10),out final_out varchar(22))
    BEGIN
    declare consume int(10);
    set consume = power(10,points);
    set final_out=concat("$",value,'.',SUBSTRING_INDEX( consume, '1',-1));
    END
    """
    
    cursor.execute(sql_query, multi=True)
    
    sql_query2="""set @final_out = '0';
    call cse4020_db.currency_style((select amount from loan where loan_number='L-42'), 2, @final_out);
    select @final_out;
    """
    for result in cursor.execute(sql_query2, multi=True):
        store=result.fetchall()
    
    for rows in store:
        print(rows)
    
    conn.close()    
    
main()

('$4250.00',)